* {
  padding: 0;
  margin: 0;
}

.head {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #5fc0cd;
  color: white;
  line-height: 4;
  text-align: center;
}

.head span {
  text-align: center;
}

.head p {
  position: absolute;
  width: 42px;
  height: 45px;
  right: 18px;
  top: 8px;
  background: url(../image/10.png) no-repeat;
  background-position: 0 0;
  background-position: 0 0;
  transform: scale(0.8);
}

.head-auto {
  margin: auto;
}

.button1 {
  width: 100px;
  height: 50px;
  background-color: #55a8b3;
  border: none;
  border-radius: 10px;
  color: white;
}

.button2 {
  width: 100px;
  height: 50px;
  color: #5fc0cd;
  background-color: white;
  border: none;
  border-radius: 10px;
  margin-left: -12px;
}

.nav {
  position: fixed;
  top: 64px;
  width: 100%;
  display: flex;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
  color: #999999;
  background-color: white;
}

.nav li {
  width: 33.33333%;
  text-align: center;
  position: relative;
}

.nav li p {
  position: absolute;
  right: 5px;
  top: 7px;
  float: right;
  border: 10px solid transparent;
  border-top-color: #999999;
}

.nav li ul {
  position: absolute;
  line-height: 2;
  width: 100%;
  margin-top: 14px;
  display: none;
  list-style-type: none;
  overflow: hidden;
  text-align: center;
  box-shadow: 0px 0px 0.8px 0.8px #dedede;
  background-color: white;
}

.nav li ul li {
  text-align: center;
  font-size: 14px;
  width: 100%;
}

.nav li:hover ul {
  display: block;
}

.nav-3 {
  border-right: 1px solid #dedede;
}

.middle {
  overflow: auto;
  margin-top: 111px;
}

.main {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
}

.main-left {
  width: 60%;
}

.main-left p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.main-color {
  color: #333333;
  margin-left: 25px;
}

.main-color2 {
  color: #E63B0EFF;
}

.main-color3 {
  color: #5fc0cd;
}

.main-auto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
  color: #999999;
}

.main-icon {
  width: 29px;
  height: 26px;
  margin-right: 3px;
  background: url(../image/10.png);
  float: left;
  background-position: 52px 0px;
  zoom: 0.8;
}

.main-icon2 {
  width: 29px;
  height: 27px;
  background: url(../image/10.png);
  float: left;
  background-position: 52px 26px;
  zoom: 0.8;
}

.footer {
  width: 100%;
  line-height: 4;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  background-color: white;
}

.footer i {
  background-image: url(../image/10.png);
  float: left;
}

.footer_2 {
  background-color: #55a8b3;
  width: 70px;
  height: 64px;
  border-radius: 100px;
}

.footer_1 p {
  margin-left: 11px;
  color: #55a8b3;
}

.icon_01 {
  background-position: 99px 2px;
  width: 49px;
  height: 43px;
  margin-top: 6px;
  transform: scale(0.8);
  margin-bottom: -14px;
  margin-left: 3px;
}

.icon_02 {
  background-position: -42px 3px;
  margin-left: 14px;
  margin-top: 7px;
  width: 45px;
  height: 43px;
  transform: scale(0.8);
}

.footer_3 p {
  color: #b2b2b2;
  margin-left: 11px;
}

.icon_03 {
  background-position: -85px 0px;
  width: 45px;
  height: 43px;
  transform: scale(0.8);
  margin-bottom: -14px;
  margin-top: 6px;
  margin-left: 4px;
}
