* {
    padding: 0;
    margin: 0;
}
$bgcolor:#5fc0cd;
$font-color:white;
.middle {
    
    height: 553px;
    overflow: auto;
}
.head {
    position: relative;
    line-height: 3;
    font-size: 18px;
    text-align: center;
    background-color: $bgcolor;
    color: $font-color;
    
}
.head-left {
    position: absolute;
    transform: rotate(180deg);
    left: 16px;
    font-size: 33px;
    top: -18px;
}
.head-info {
    margin: auto;
}
.banner {
    position: relative;
    height: 270px;
    color: $font-color;
    background: url(../image/07.png) no-repeat;
    background-size: 100% 100%;
}
.people-name {
    
    margin-bottom: 8px;
    font-size: 18px;
}
.people-name2 {
    font-size: 16px;
    margin-left: 5px;
}
.banner-image {
    position: absolute;
    width: 169px;
    height: 169px;
    top: 35px;
    left: 20px;
    background: url(../image/01.png) no-repeat;
    transform: scale(0.8);
}
.people-info {
    font-size: 14px;
}
.banner-info {
    position: absolute;
    left: 200px;
    top: 95px;
    margin-top: 5px;
    i {
        width: 18px;
        height: 23px;
        float: left;
        background: url(../image/05.png);
        transform: scale(0.8);
    }
}
.main-1 {
    line-height: 2.5;
    color: #333333;
    padding-left: 22px;
    border-bottom: 1px solid #dedede;
    span {
        padding-left: 7px;
        border-left:2px solid $bgcolor;
    }
}
.main-2 {
    margin-left: 25px;
}
.skill-1 {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: start;
    border-bottom: 1px solid #dedede;
    
    i {
        width: 24px;
        height: 23px;
        margin-left: 10px;
        margin-right: 5px;
        background: url(../image/06.png) no-repeat;
        float: left;
        zoom: .8;
    }

}
.skill-border {
    padding-right: 10px;
    border-right: 1px solid #dedede;
   
}
.skill-2 {
    @extend .skill-1;
    color: #999999;
    span{
        padding-left:12px;
    }
}
.skill-color {
    color: #333333;
}
.skill-color2 {
    color: #e26163;
}
.skil-3 {
    display: flex;
    align-items: center;
    justify-content: start;
}
.main-3 {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 36px;
    color: #333333;
    border-bottom:1px solid #dedede;
    
}
.skill-3-left {
    flex-shrink: 0;
    color: #999;
}
.skill-3-right {
    margin-left: 13px;
}

.footer-auto {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content:space-around;
    position: fixed;
    bottom: 0;
    background-color: white;
    
    button {
        width: 45%;
        height: 67px;
        
    
}
}
.span1 {
    border: 2px solid $bgcolor;
    border-radius: 10px;
    color: $bgcolor;
    background-color: white;
}
.span2 {
    background-color: $bgcolor;
    border-radius: 10px;
    color: $font-color;
    border: none;
   
}